.vscode/**
.vscode-test/**
.gitignore
src/**
test/**
out/**
dist-types/**
dist/test/**
node_modules/**
**/*.map
tsconfig.json
esbuild.js
pnpm-lock.yaml
pnpm-workspace.yaml
*.vsix

# Demo images used only from README via external URLs
images/*
!images/icon.png
!images/activity-icon.svg
